<div class="card">

  <div class="card-buttons card-buttons-sticky-top">
  <h1 class="card-title">Sociétés</h1>
    <%= link_to "Consoles",
                platforms_path,
                class: "btn btn-access text-white py-3 rounded-pill",
                aria: { label: "Voir les consoles" } %>

    <%= link_to "Jeux",
                games_path,
                class: "btn btn-access text-white py-3 rounded-pill",
                aria: { label: "Ajouter un nouveau jeu" } %>

    <%= link_to "Studios",
                studios_path,
                class: "btn btn-access text-white py-3 rounded-pill",
                aria: { label: "Voir les studios" } %>
  </div>


  <div>
    <% @builders.each do |builder| %>
      <div class="card-builder">
        <h2 class="card-builder-title"><%= builder.name %></h2>
        <div class="card-builder-infos">
          <p class="text-md font-bold"><%= builder.postal_address %></p>
          <p class="text-md font-bold"><%= builder.origin_country %></p>
        </div>

        <div class="card-buttons">
          <%= link_to "Accéder au site", builder.internet_site,
              class: "btn btn-gradient-blue text-white py-3 rounded-pill",
              target: "_blank", rel: "noopener" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
