<div class="card">
  <h1 class="card-title">Mes consoles</h1>

  <% @platforms.each do |platform| %>
    <div class="card-game">
      <div class="card-game-infos">
        <div>
          <h2><%= platform.name.upcase %></h2>
          <p><%= platform.exit_date.strftime("%d-%B-%Y") if platform.exit_date %></p>
          <p><%= platform.builder.name %></p>
        </div>
      </div>
    </div>
  <% end %>

  <div class="card-buttons">
    <%= link_to "Acceder aux studios ", studios_path, class: "btn btn-access" %>
    <%= link_to "Ajouter une console", new_platform_path, class: "btn btn-add" %>
    <%= link_to "Acceder aux jeux", games_path, class: "btn btn-access" %>
  </div>

</div>
