<% if @platform.errors.any? %>
  <div class="alert alert-danger">
    <h4>Des erreurs ont empêché l'enregistrement :</h4>
    <ul>
      <% @platform.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="platform-form">
  <h1 class="text-center fw-bold text-black py-3">Ajouter une plateforme</h1>

  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="form-container">
          <%= simple_form_for @platform do |f| %>
            <%= f.input :name, label: "Nom" %>
            <%= f.input :exit_date, label: "Date de sortie" %>
            <%= f.association :builder,
                  label: "Constructeur",
                  collection: Builder.all,
                  include_blank: true %>

            <div class="d-grid gap-2 mt-3 py-3">
              <%= f.button :submit, "Ajouter", class: "btn btn-platform text-white py-3 rounded-pill" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
