<div class="card" aria-labelledby="studios-title">
  <div class="card-game-infos">
    <h1 id="studios-title" class="card-title"><%= @platform.name.upcase%></h1>
        <% @platform.games.each do |game| %>
              <div class="card">
<<<<<<< HEAD
                  <h3 class="card-title"><%= game.title %></h3>
=======
                <div class="card-game">
                  <h3 class="card-game-title"><%= game.title %></h3>
>>>>>>> ee16e814f95e059d456e3f35495d7ab557786bd8
                  <p class="card-game-type"><%= game.type_game%></p>
                  <p class="description"><%= sanitize(game.description) %></p>
                  <div class="card-buttons">
                <%= link_to "Voir le jeu", game_path(game), class: "btn btn-gradient text-white py-3 rounded-pill" %>
              </div>
            </div>
          <% end %>
  </div>
  <div class="card-buttons">
    <%= link_to "Modifier", edit_platform_path(@platform),
                class: "btn btn-add text-white py-3 rounded-pill",
                aria: { label: "Modifier la plateforme #{@platform.name}" } %>

    <%= link_to "Voir les studios", studios_path,
                class: "btn btn-access text-white py-3 rounded-pill",
                aria: { label: "Voir la liste des studios" } %>
  </div>
</div>
