<div class="card" aria-labelledby="games-title">
  <h1 class="card-title">Mes jeux</h1>

    <% @games.each do |game| %>
      <div class="card-game" data-controller="toggle" data-action="click->toggle#toggle"  aria-labelledby="game-title">
            <h2 class="card-title cursor-pointer" ><%= game.title %></h2>
        <div class="card-game-infos" data-toggle-target="content" hidden>
          <div>
            <p><%= game.type_game %></p>
            <p><%= sanitize(game.description) %></p>
            <ul>
              <li><%= pluralize(game.min_player, 'joueur') %></li>
              <li>Âge minimum : <%= game.min_age %> ans</li>
              <li>Date de sortie : <%= game.exit_date.strftime("%d-%b-%Y") %></li>
              <li class="card-game-pricing">
                <%= number_to_currency(game.price, unit: "€", format: "%n %u") %>
              </li>
              <li>Jouable sur <%= game.platforms.map(&:name).join(", ") %></li>
            </ul>
          </div>

          <ul>
            <li><%= pluralize(game.min_player, 'joueur') %></li>
            <li>Âge minimum : <%= game.min_age %> ans</li>
            <li>Date de sortie : <%= game.exit_date.strftime("%d-%b-%Y") %></li>
            <li class="card-game-pricing">
              <%= number_to_currency(game.price, unit: "€", format: "%n %u") %>
            </li>

            <% if game.platforms.any? %>
              <li>Jouable sur <%= game.platforms.map(&:name).join(", ") %></li>
            <% else %>
              <li>Plateforme non spécifiée</li>
            <% end %>
          </ul>
        </div>

        <div class="card-link-right">
          <%= link_to "Voir le jeu",
                      game_path(game),
                      class: "btn btn-gradient text-white py-3 rounded-pill",
                      rel: "noopener" %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="card-buttons">
    <%= link_to "Voir les consoles",
                platforms_path,
                class: "btn btn-access text-white py-3 rounded-pill",
                aria: { label: "Voir les consoles" } %>

    <%= link_to "Ajouter un jeu",
                new_game_path,
                class: "btn btn-add text-white py-3 rounded-pill",
                aria: { label: "Ajouter un nouveau jeu" } %>

    <%= link_to "Voir les studios",
                studios_path,
                class: "btn btn-access text-white py-3 rounded-pill",
                aria: { label: "Voir les studios" } %>
  </div>
</div>
