<div class="card">
<h1 class="card-title">Games</h1>
  <% @games.each do |game| %>
    <div class="card-game">
      <div class="card-game-infos">
        <div>
          <h2><%= game.title %></h2>
          <p><%= game.type_game %></p>
        </div>
        <div>
          <h2><%= game.description%></h2>
          <p><%= game.min_player%> joueur</p>
          <p>Age minimum: <%=game.min_age%> ans</p>
        </div>
        <h2 class="card-game-pricing"><%=game.price%>€</h2>
        <%=link_to "#{game.studio.name}", game.studio.internet_site , class:"btn btn-gradient", target: :_blank %>
      </div>
    </div>
    <% end%>
    <%=link_to "Accéder à tous les studios", studios_path , class:"btn btn-flat" %>
    <%=link_to "Ajouter un jeu", new_game_path , class:"btn btn-success" %>
</div>
