<div class="card" aria-labelledby="games-title">
    <h1 class="card-title">Mes jeux</h1>


  <div class="card-buttons">
    <%= render "shared/action_buttons", buttons: [
          { text: "Consoles", path: platforms_path, variant: "btn-access", label: "Voir les consoles" },
          { text: "Ajouter un jeu", path: new_game_path, variant: "btn-add", label: "Ajouter un nouveau jeu" },
          { text: "Studios", path: studios_path, variant: "btn-access", label: "Voir les studios" }
    ] %>
  </div>

    <% @games.each do |game| %>
      <div class="card-game" data-controller="toggle"  aria-labelledby="game-title">
            <h4 class="card-game-title cursor-pointer" data-action="click->toggle#toggle"><%= game.title %></h4>
        <div class="card-game-infos" data-toggle-target="content" hidden>
          <!--<%= cl_image_tag("https://res-console.cloudinary.com/dfixvgj1a/thumbnails/v1/image/upload/v1754307086/aGhpZ29rZWNnOWFwbjlmeGNlcGE=/drilldown",
            width: 100, height: 100, crop: :fill) %> -->
          <div>
            <%= render partial: "shared/badges", locals: {game: game}%>
            <p><%= sanitize(game.description) %></p>
            <ul>
              <li><%= pluralize(game.min_player, 'joueur') %></li>
              <li>Âge minimum : <%= game.min_age %> ans</li>
               <li>Date de sortie : <%= game.exit_date.strftime("%d-%b-%Y") %></li>
              <li class="card-game-pricing">
                <%= number_to_currency(game.price, unit: "€", format: "%n %u") %>
              </li>
              <li>Jouable sur <%= game.platforms.map(&:name).join(", ") %></li>
            </ul>
          </div>

          <div class="card-link-right">
            <%= render "shared/action_button",
                        text: game.title,
                        path: game_path(game),
                        variant: "btn-gradient-blue",
                        label: game.title,
                        rel: "noopener" %>
          </div>
        </div>
      </div>
    <% end %>



</div>
