<% if @game.errors.any? %>
  <div class="alert alert-danger">
    <h4>Des erreurs ont empêché l'enregistrement :</h4>
    <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1 class="text-center fw-bold text-black">Ajouter un jeu</h1>

<div class="container py-4 mb-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="bg-white rounded p-4 shadow">

          <%= simple_form_for @game, html: { class: "simple_form" } do |f| %>
            <%= f.input :title, label: "Titre du jeu" %>
            <%= f.input :type_game, label: "Type de jeu" %>
            <%= f.input :description, as: :text, input_html: { rows: 5 } %>
            <%= f.input :exit_date, label: "Date de sortie", as: :date %>
            <%= f.input :min_player, label: "Nombre minimum de joueurs", min: 1 %>
            <%= f.input :min_age, label: "Âge minimum", min: 1 %>
            <%= f.input :price, label: "Prix (€)", min: 0, step: 0.01 %>

            <%= f.input :studio_id,
                        collection: Studio.all.pluck(:name, :id),
                        prompt: "Sélectionne un studio",
                        label: "Nom du studio de développement" %>

            <div class="d-grid gap-2 mt-3 py-3">
              <%= f.submit "Ajouter", class: "btn btn-add text-white py-3 rounded-pill" %>
            </div>
          <% end %>

      </div>
    </div>
  </div>
</div>
