<div class="card" aria-labelledby="games-title">
  <div class="card-game">
    <h1 id="games-title" class="card-title"><%= @game.title %></h1>
    <p class="card-game-type"><%= @game.type_game%></p>
    <p>Date de sortie : <%= @game.exit_date.strftime("%d-%b-%Y") %></p>
  </div>

  <div class="card-game">
    <p class="description"><%= sanitize(@game.description) %></p>
  </div>

  <div class="card-game-footer">
    <div class="card-footer-link">
      <%= link_to @game.studio.name,
                  @game.studio.internet_site,
                  class: "btn btn-gradient text-white py-3 rounded-pill",
                  target: "_blank",
                  rel: "noopener",
                  aria_label: "Site de #{@game.studio.name}" %>
    </div>
    <div class="card-footer-link">
      <%= link_to "Modifier", edit_game_path(@game), class: "btn btn-add text-white py-3 rounded-pill" %>
    </div>
    <div class="card-footer-link">
      <%= link_to "Retour aux jeux", games_path, class: "btn btn-return text-white py-3 rounded-pill"  %>
      <%= link_to "Supprimer le jeu",
          game_path(@game),
          data: {turbo_method: :delete, turbo_confirm: "Etes vous su de vouloir supprimer ce jeu?"}%>
    </div>
  </div>
</div>
