<div class="form">
  <h1>Ajouter un Studio</h1>

  <% if @studio.errors.any? %>
    <div class="alert alert-danger">
      <h4>Des erreurs ont empêché l'enregistrement :</h4>
      <ul>
        <% @studio.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-6">

        <div class="form-container">
          <%= simple_form_for @studio do |f| %>
            <%= f.input :name, label: "Nom" %>
            <%= f.input :description, as: :text, input_html: { rows: 3 } %>
            <%= f.input :internet_site, label: "Site internet" %>
            <%= f.input :postal_address, label: "Adresse postale" %>
            <%= f.input :origin_country,
                as: :select,
                collection: ["France", "Etats-Unis", "Japon", "Canada", "Royaume-Uni", "Chine", "Corée du Sud", "Pays-Bas", "Pologne"],
                prompt: "Choisis un pays",
                label: "Pays" %>
            <%= f.association :builder,
                label: "Constructeur (optionnel)",
                prompt: "Indépendant",
                collection: Builder.all,
                include_blank: true %>

            <div class="d-grid gap-2 mt-3 py-3">
              <%= f.button :submit, @studio.new_record? ? "Ajouter" : "Mise à jour", class: "btn btn-submit text-white py-3 rounded-pill" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
