<div class="card">
  <h1 class="card-title">Studios</h1>

  <%= render "shared/action_buttons", buttons: [
        { text: "Consoles", path: platforms_path, variant: "btn-access", label: "Voir les consoles" },
        { text: "Ajouter un studio", path: new_studio_path, variant: "btn-add", label: "Ajouter un nouveau studio" },
        { text: "jeux", path: games_path, variant: "btn-access", label: "jeux" }
  ] %>

  <% @studios.each do |studio| %>
    <div class="card-studio" data-controller="toggle">
          <h4 data-action="click->toggle#toggle" class="card-studio-title" style="cursor: pointer;">
            <%= studio.name %>
          </h4>
      <div class="card-game-infos" data-toggle-target="content" hidden>
        <div>
          <p><%= studio.description%></p>
          <p><%= studio.origin_country %></p>
        </div>

        <div class="card-link-right">
          <%= link_to "Voir le studio", studio_path(studio), class: "btn btn-gradient-blue text-white py-3 rounded-pill", rel: "noopener" %>
        </div>
      </div>
    </div>
  <% end %>

</div>
