

<div class="card">
<h1 class="card-title">Studios</h1>
  <% @studios.each do |studio| %>
    <div class="card-game">
      <div class="card-game-infos">
        <div>
          <h2><%= studio.name_studio %></h2>
          <p><%= studio.postal_address %></p>
          <p><%= studio.origin_country %></p>
        </div>
        <div>
          <%=link_to "Accéder au site", studio.internet_site , class:"btn btn-gradient", target: :_blank %>
        </div>
      </div>
    </div>
    <% end%>
     <%=link_to "Accéder aux jeux", games_path , class:"btn btn-flat", target: :_blank %>
</div>
